:root {
  scroll-behavior: auto;
}
body {
  background-color: #ffe88b;
  color: #da6538;
}
header img {
  width: 50px;
  height: 50px;
}
input:focus {
  box-shadow: 0px 0px 5px 5px rgba(218, 101, 56, 0.5) !important;
  border: 0;
}
.color-o {
  color: #da6538 !important;
  background-color: rgba(128, 128, 128, 0.4) !important;
}
#custData tbody tr:hover td {
  cursor: pointer;
  background-color: rgba(218, 101, 56, 0.6) !important;
}
th,
td {
  vertical-align: middle;
}
/* Graph */
.chart {
  max-width: 900px;
  height: 450px;
  padding: 50px;
}
.chart .chart_types {
  text-align: center;
  margin-bottom: 30px;
}
.chart .chart_types button {
  padding: 10px 25px;
}
